draft-ietf-cdni-delegation-acme-00 (Review from Kevin Ma from Feb 17, 2023)

 - in the time-window description, should the "must"s be capital "MUST"s?  if not, can we rephrase?
    _Agree. We should replace "must" with "MUST" in the description._
 - in section 4.1, make the reference to section 3.1 instead of 3
    _Agree._
 - in the security considerations, i still think it would be useful to add a sentence about what an attacker could do if they got the 
    acme-delegation URL.  could they generate certs and masquerade as the site, or is it innocuous?  
    
For above, based on email exchange between Thomas Fossati and Kevin,  maybe append the extra text, such as below at the end of the 2nd paragraph of section 5:

" _That is, the acme-delegation URL is an access controlled resource that is accessible only to the ACME account owner (i.e., dCDN), i.e., its visibility is protected by the dCDN's ACME account credential (see section 2.1 of RFC 9115)._"